header {
    text-align: center;
    color: green;
    font-weight: bolder;
    font-size: 25px;
    border-bottom: gray 1px solid;
}

html {
    height: 100vh;
}

body {
    width: calc(100% - 80px);
    height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.showMessage {
    padding: 4px 0;

}

.checkButton {
    border: none;
    background-color: darkgreen;
    padding: 4px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}

footer {
    text-align: center;
}

.inputSection {
    text-align: center;
}

footer p {
    font-size: small;
    color: grays;
}